@page "/"

<PageTitle>Smart ASP.NET Core - Home</PageTitle>

<div class="row">
  <div class="col-md-2">
    &nbsp;
  </div>
  <div class="col-md-8">
    <div class="row mt-5 mb-5">
      <div class="col-md-6">
        <img src="img/NET_Core_Logo.svg" class="rounded float-start" width="50px" alt=".NET Core logo"/>
      </div>
      <div class="col-md-6">
        <img src="img/ASP-NET-Core-Logo-1.png" class="rounded float-end" width="200px" alt="IBM logo"/>
      </div>
    </div>
    <div class="h-70 p-5 bg-light border rounded-3">
      <h2>Asp.Net Core 6</h2>
      <p>A template project featuring ASP.NET Core 6 REST API
        packed together with Blazor Server Pages and served by SQLite data
        provided by Entity Framework ORM.</p>
      <small class="txt-secondary">
        Asp.NET Core 6 v. @_version || Environment @_environment
      </small>
      <div class="pt-3">
        <a href="/swagger" class="btn btn-primary">Documentation</a>
        <button class="btn btn-outline-secondary" type="button">Info</button>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    &nbsp;
  </div>
</div>

 @code {

   private string? _version;
   private string? _environment;

   protected override void OnInitialized()
   {
     var versionInfo = System.Reflection.Assembly.GetEntryAssembly()?.GetName().Version;
     this._version = versionInfo != null ? versionInfo.ToString() : "?";
     this._environment = "DEV";
   }

 }


