@page "/"

<PageTitle>Smart ASP.NET Core - Home</PageTitle>

<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="/img/NET_Core_Logo.svg" alt="" width="200">
  <h2 class="display-5 fw-bold">Asp.Net Core 6</h2>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">A template project featuring ASP.NET Core 6 REST API
      packed together with Blazor Server Pages and served by SQLite data
      provided by Entity Framework ORM.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="/swagger" class="btn btn-primary btn-lg px-4 gap-3" >Documentation</a>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">Info</button>
    </div>
  </div>
</div>

